# Virtual environment
.venv/
venv/

# Python junk
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# OS junk
.DS_Store
_mnist_data
#results/
